<template name="signin">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <center><h2 class="ui icon header">
          <i class="user icon"></i>
          <div class="content">
            Sign In
            <div class="sub header">Sign in to view and post listings.</div>
          </div>
        </h2></center>

        <form class="ui form">
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}
          
          <div class="field">
            <div class="ui fluid left icon input {{errorClass 'email'}}">
              <input type="email" name="email" placeholder="Your Email" />
              <i class="mail icon"></i>
            </div>
          </div>

          <div class="field">
            <div class="ui fluid left icon input {{errorClass 'password'}}">
              <input type="password" name="password" placeholder="Password" />
              <i class="asterisk icon"></i>
            </div>
          </div>

          <div class="field">
            <button type="submit" class="btn-primary">Sign in</button>
          </div>
        </form>
      </div>

      <a href="{{pathFor 'join'}}" class="link-auth-alt">Need an account? Join Now.</a>
      <a href="{{pathFor 'forgotPassword'}}" class="link-auth-alt">Forgot Password?</a>
    </div>
  </div>
</template>