<template name="forgotPassword">
 <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Dude, you forgot your password!?</h1>
        <p class="subtitle-auth" >Enter your email address and click the button to receive an password reset email</p>
        <form>
	<div class="input-symbol">
       <input type="email" name="email" placeholder="Your Email" required/>
       <span class="icon-email" title="Your Email"></span> <br>
       <button type="submit" class="btn-primary" value='Reset Password'></button>
    </div>
    </form>
  </div>
</div>

</template>