<template name="main">
<div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>
	
   <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Main Page</h1>	
        <p class="subtitle-auth">View the latest campus listings and events</p>	
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <!--Display Listings-->
          <h3> Listings </h3>
          {{#each showListings}}  
            <p>Description: {{desc}}</p>
            <p>Location: {{locat}}</p>
            <p>Created: {{createdAt}} </p>
            <p>Posted By: {{username}}</p> 
            <hr />
          {{/each}}
          <h3> Events </h3>
          {{#each showEvents}}
            <p>Description: {{desc}}</p>
            <p>Time: {{time}} </p>
            <p>Location: {{locat}}</p>
            <p>Created: {{createdAt}} </p>
            <p>Posted By: {{username}}</p> 
            <hr />
          {{/each}}
        </div>
  </div>
</div>

</template>