<template name="main">
<div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>
	
   <div class="content-scrollable">
      <div class="wrapper-auth">
        <center><div class="ui compact segment"><img src="/img/icelist_banner.png" width="300"/></div></center>
        <div class="ui top attached tiny tabular menu" style="font-size: 80%;">
          <a class="{{whichActive currentCategory "all"}} item" href="main">
            All
          </a>
          <a class="{{whichActive currentCategory "event"}} teal item" href="main?i=event">
            <i class="calendar outline icon"></i>
            Events
          </a>
          <a class="{{whichActive currentCategory "sale"}} blue item" href="main?i=sale">
            <i class="dollar icon"></i>
            Sales
          </a>
          <div class="right menu">
            <div class="ui simple dropdown item">
              Sort by
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="active item">Recent</a>
                <a class="item">Location</a>
                <a class="item">Price</a>
              </div>
            </div>
            <div class="item" href="">
              <a href="newPost"><i class="circular inverted large blue add icon"></i></a>
            </div>
          </div>
        </div>
        <!--Display Listings-->
        <div class="ui bottom attached segment">
          {{#if showListings}}
            <div class="ui selection list">
            {{#each showListings}}
              <a class="item" href="viewpost/{{_id}}/">
                <div class="right floated content" style="font-size: 60%;">
                  posted {{dateHelper createdAt}} ago

                  <form action="" class="form" method="">
                    <input type="hidden" name="idlist" value="{{listId}}">
                    <input type="submit" name="buttonname" value="Subscribe">
                  </form>

                </div>
                <i class="circular inverted {{catHelper category}} icon"></i>
                <div class="content" style="font-size: 80%;">
                  <div class="header"><b style="color: #000;">{{name}}</b> by {{nameHelper owner}}</div>
                  <div class="description" style="text-align: left">{{descHelper category location price}}</div>
                </div>
              </a>
            {{/each}}
            </div>
          {{else}}
            There doesn't seem to be anything here. Make a new Event or Sales post and it will appear here.
          {{/if}}
        </div>
      </div>
  </div>
</div>

</template>