<template name="newMessageList">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <center><h2 class="ui icon header">
          <i class="mail icon"></i>
          <div class="content">
            Messages
            <div class="sub header">Select a conversation below to see details.</div>
          </div>
        </h2></center>
        <div class="ui segment">
        <a class="ui top left attached blue label" href="/messages/new/add"><i class="mail icon"></i>New Message</a>
        {{#if hasConversations}}
          <div class="ui feed">
          {{#each conversations}}
            <div class="event">
              <div class="label">
                <img src="{{msgAvatar personA personB}}" width="100px" height="100px">
              </div>
              <div class="content">
                <div class="summary">
                <a href="messages/{{_id}}">{{msgName personA personB}}</a>
                  <div class="date">
                    {{dateDiffHelper date}} ago
                  </div>
                </div>
                <div class="extra text">
                  <b>{{recentSenderName}}:</b> {{recentMessage}}
                </div>
              </div>
            </div>
          {{/each}}
          </div>
        {{else}}
          <center>You have no conversations currently.</center>
        {{/if}}
        <br/><a class="ui bottom left attached blue label" href="{{pathFor 'main'}}"><i class="inverted reply icon"></i>Back to List</a>
        </div>
        
      </div>
    </div>
  </div>
</template>