<template name="profile">
<div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>
	
   <div class="content-scrollable">
      <div class="wrapper-auth">
        <div class="ui card" style="width: 300px; margin-left: auto; margin-right: auto;">
          <div class="image">
            <img src="{{userImage profileUser._id}}" style="width: 300px; height: 300px;">
          </div>
          <div class="content">
            <a class="header">{{nameHelper profileUser._id}}</a>
            <div class="meta">
              <span class="date">Joined {{dateStringHelper profileUser.createdAt}}</span><br/>
              <span class="major"><b>{{profileUser.profile.major}} Major</b></span>
            </div>
          </div>
        </div>
        <div class="ui top attached tiny tabular menu" style="font-size: 80%;">
          <a class="{{whichActive currentCategory "all"}} item" href="?i=">
            All
          </a>
          <a class="{{whichActive currentCategory "event"}} teal item" href="?i=event">
            <i class="calendar outline icon"></i>
            Events
          </a>
          <a class="{{whichActive currentCategory "sale"}} blue item" href="?i=sale">
            <i class="dollar icon"></i>
            Sales
          </a>
          <div class="right menu">
            <div class="ui simple dropdown item">
              Sort by
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="{{sortActive sortby "recent"}} item" href="?sort=">Recent</a>
                <a class="{{sortActive sortby "location"}} item" href="?sort=location&i=event">Location</a>
                <a class="{{sortActive sortby "price"}} item" href="?sort=price&i=sale">Price</a>
              </div>
            </div>
          </div>
        </div>
        <!--Display Listings-->
        <div class="ui bottom attached segment">
          {{#if showListings}}
            <div class="ui selection list">
            {{#each showListings}}
              <a class="item" href="{{pathFor 'viewpost' postid=_id}}">
                <div class="right floated content" style="font-size: 60%;">
                  posted {{dateHelper createdAt}} ago
                </div>
                <i class="circular inverted {{catHelper category}} icon" style="vertical-align: middle; font-size: 125%;"></i>
                <div class="content" style="font-size: 80%;">
                  <div class="header"><b style="color: #000;">{{name}}</b>  <small style="margin-left: 5px;"> by</small> <a class="ui tiny image label" style="margin-left: 5px;" href="{{pathFor 'profile' userid=owner}}">
                    <img src="{{userImage owner}}">
                    {{nameHelper owner}}
                  </a></div>
                  <div class="description" style="text-align: left">{{{descHelper category privacy location price}}}</div>
                </div>
              </a>
            {{/each}}
            </div>
          {{else}}
            This user doesn't seem to have made any posts of this category.
          {{/if}}
        </div>
      </div>
  </div>
</div>

</template>