<template name="resetpassword">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Reset Password</h1>
        <p class="subtitle-auth">Please enter your new password below and click Change Password</p>

        {{#if errorMessages}}
        <div class="list-errors">
        {{#each errorMessages}}
          <div class="list-item">{{this}}</div>
        {{/each}}
        </div>
        {{/if}}
        
        <form id="forgotPasswordForm" class="ui form">
          <input type="hidden" name="token" value="{{token}}" />
          <div class="field">
            <div class="ui fluid left icon input {{errorClass 'password'}}">
              <input type="password" name="newPassword" placeholder="New Password" />
              <i class="asterisk icon"></i>
            </div>
          </div>
          <div class="field">
            <div class="ui fluid left icon input {{errorClass 'password'}}">
              <input type="password" name="verPassword" placeholder="Verify Password" />
              <i class="asterisk icon"></i>
            </div>
          </div>
          <div class="field">
            <button class="btn-primary" type="submit">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>