<template name="updatepicture">
  <div class="page auth">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Update.</h1>
        <p class="subtitle-auth" >Update your profile picture below.</p>

        <form class="ui form" id="picupload">
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}
          
          <div class="ui two item menu">
            <a class="item" href="/update">Account Info</a>
            <a class="active item">Profile Picture</a>
          </div>
          
          <div class="item">
            <center id="imgloc"><img class="ui small circular image" src="{{userImage}}" style="height: 100px; width: 100px;" /></center>
            <input type="file" class="uploadFile" id="uploadFile">
            <p>Select an image and it will upload.</p>
          </div>
          
        </form>
      </div>

    </div>
  </div>
</template>