<template name="upload">
 <head>
  <title>PhotoShot</title>
</head>

<body>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
   <h1>File uploader</h1>
   <span style="font-size:15px; margin-left:10px;">
    <div class="form-group">
      <label for="selectFile">Browse</label>
      <input type="file" class="uploadFile" id="uploadFile">
      <p class="help-block">Upload image here.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
            <span class="sr-only">{{progress}}% Complete</span>
          </div>
        </div>
      </div>
    </div>
    </span>
  </div>
</div>
{{isUploading}}

<div class="container">
    <strong>Uploaded image:</strong>

    <!--was url.imageurl-->
    <!--<img src="https://icelistphotobucket.s3.amazonaws.com/rec57@pitt.edu/ice.jpeg" />-->
    <p id="imgloc"> </p>   
</div>
</body>
</template> 